<h1>Hello</h1>


<app-temprature></app-temprature>
<!-- <app-many-events></app-many-events> -->
<!-- <app-multiple-events></app-multiple-events> -->

<!-- <app-menu></app-menu>
<app-user-details></app-user-details>

<app-simple-button2></app-simple-button2> -->
<!-- <app-login></app-login> -->
<!-- <app-simple-button></app-simple-button>  -->
<!-- <app-many-events></app-many-events>
<app-temp-meter></app-temp-meter>
<app-counter></app-counter> -->
<!-- <app-copyright></app-copyright>
<app-forgot-password></app-forgot-password> -->